.file{
	border: 2px dashed #BDBDBD;
	min-height: 93px;
	margin: 20px 0 50px;
}

.file__list{
	width: 100%;
}
.file__item{
	padding:13px;
	display: inline-block;
}
.file__link{
	
}
.file__img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 25px;
	height: 29px;
}
.file__text{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 14px;
	color: #333333;
	&:hover{
		text-decoration: underline;
	}
}


